@import url(https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap);
html{height:100vh;font-family:"TASA Orbiter",sans-serif}body{display:flex;justify-content:center;align-items:center;height:100vh;background-color:#000;color:#fff}h1{font-size:4rem}
